@charset "UTF-8";
.root{
    -fx-font-family: "Segoe UI";
    -fx-background-color:#F5F7FA;
}

/* Buttons */

.button{
    -fx-background-color:#2563EB;
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-font-weight:bold;
    -fx-background-radius:10;
    -fx-padding:10 20;
    -fx-cursor:hand;
}

.button:hover{
    -fx-background-color:#1D4ED8;
}

.button:pressed{
    -fx-scale-x:0.98;
    -fx-scale-y:0.98;
}

/* Labels */

.label{
    -fx-font-size:14px;
}

/* Titles */

.title{
    -fx-font-size:28px;
    -fx-font-weight:bold;
}

/* Cards */

.card{
    -fx-background-color:white;
    -fx-background-radius:15;
    -fx-padding:20;
    -fx-effect:dropshadow(gaussian, rgba(0,0,0,0.15),10,0,0,4);
}

/* TextFields */

.text-field{
    -fx-background-radius:8;
    -fx-border-radius:8;
    -fx-border-color:#D1D5DB;
    -fx-padding:8;
}

.text-field:focused{
    -fx-border-color:#2563EB;
}

/* Password Field */

.password-field{
    -fx-background-radius:8;
    -fx-border-radius:8;
    -fx-border-color:#D1D5DB;
}

.password-field:focused{
    -fx-border-color:#2563EB;
}