@charset "UTF-8";
.table-view{
    -fx-background-color:white;
    -fx-background-radius:10;
}

.table-view .column-header{
    -fx-background-color:#2563EB;
}

.table-view .column-header .label{
    -fx-text-fill:white;
    -fx-font-weight:bold;
}

.table-row-cell:selected{
    -fx-background-color:#BFDBFE;
}

.table-row-cell:hover{
    -fx-background-color:#E0F2FE;
}